<?xml version="1.0"?>
<!--
Copyright (c) 2014 Coefficient, Inc.

This file is part of the Coefficient extension for Magento and is released
under the MIT License. For full copyright and license information, please
see the LICENSE file.
-->

<config>
    <modules>
        <Coefficient_Coefficient>
            <version>0.0.5</version>
        </Coefficient_Coefficient>
    </modules>

    <!-- Configure our module's behavior in the global scope. -->
    <global>
        <models>
            <coefficient>
                <class>Coefficient_Coefficient_Model</class>
            </coefficient>
        </models>

        <helpers>
            <coefficient>
                <class>Coefficient_Coefficient_Helper</class>
            </coefficient>
        </helpers>

        <blocks>
            <coefficient>
                <class>Coefficient_Coefficient_Block</class>
            </coefficient>
        </blocks>

        <resources>
            <Coefficient_Coefficient>
                <setup>
                    <module>Coefficient_Coefficient</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </Coefficient_Coefficient>
        </resources>

    </global>
    <frontend>
        <routers>
            <coefficient> <!-- the lowercase version of our module name. -->
                <use>standard</use>
                <args>
                    <module>Coefficient_Coefficient</module>
                    <frontName>coefficient</frontName>
                </args>

            </coefficient>

        </routers>
    </frontend>
    <admin>
        <routers>
            <coefficient>
                <use>admin</use>
                <args>
                    <module>Coefficient_Coefficient</module>
                    <frontName>coefficient</frontName>
                </args>
            </coefficient>

            <adminhtml>
                <use>admin</use>
                <args>
                    <modules>
                        <Coefficient_Coefficient_Adminhtml before="Mage_Adminhtml">Coefficient_Coefficient_Adminhtml</Coefficient_Coefficient_Adminhtml>
                    </modules>
                </args>
            </adminhtml>

        </routers>
    </admin>

    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <coefficient>
                                            <title>Coefficient API Configuration</title>
                                        </coefficient>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl> 

        <layout>
            <updates>
                <coefficient>
                    <file>coefficient.xml</file>
                </coefficient>
            </updates>
        </layout>
    </adminhtml>

    <default>
        <coefficient>
            <api>
                <enabled>1</enabled> 
            </api>
        </coefficient>
    </default>

</config>
