<config>
    <tabs>
        <coefficient_extension module="coefficient">
            <label>Coefficient</label>
            <sort_order>99999</sort_order>
        </coefficient_extension>
    </tabs>
    <sections>
        <coefficient translate="label" module="coefficient">
            <label>Coefficient Options</label>
            <tab>coefficient_extension</tab>
            <frontend_type>text</frontend_type>
            <sort_order>1000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <api translate="label">
                    <label>Coefficient Options</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>API Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <apikey translate="label">
                            <label>API Key</label>
                            <frontend_type>text</frontend_type>
                            <!--frontend_model>coefficient/adminhtml_disabledinput</frontend_model-->
                            <!--comment>Save this in your Magento settings in Coefficient.</comment-->
                            <backend_model>coefficient/adminhtml_apikey</backend_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <depends><enabled>1</enabled></depends>
                        </apikey>
                        <banana translate="label">
                            <label>Generate New API Key</label>
                            <button_label>Hit Me</button_label>
                            <frontend_model>coefficient/adminhtml_generatebutton</frontend_model>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><enabled>1</enabled></depends>
                        </banana>
                    </fields>
                </api>
            </groups>

        </coefficient>
    </sections>
</config>
